# Local datasets
datasets/**
!datasets/
!datasets/**/
!datasets/README.md
!datasets/**/.gitkeep

# Experiment outputs
outputs/**
!outputs/
!outputs/**/
!outputs/**/.gitkeep


# Python cache
__pycache__/
*.py[cod]

# Runtime logs
runtime_logs/
log/
runs/
*.log
events.out.tfevents.*

# Checkpoints
checkpoint/
checkpoints/
*.pth
*.pt
*.ckpt

# OS / editor
.DS_Store
.vscode/
.idea/